@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "leaflet/dist/leaflet.css";

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.25s ease-out;
}
